*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    --min-font-size: 10px; /* Set your minimum font size */
    --max-font-size: 32px; /* Set your maximum font size */
}
body{
    font-family: Inter, Roboto, Arial, sans-serif;
    height: 300vh;
}
.header {
    position: fixed;
    left:0;
    right:0;
    top:4rem;
    width:min(90%,1200px);
    margin-inline: auto;
    background-color:transparent;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.header.is-sticky{
    width: 100%;
    top:0;
    border-radius: 0;
    background: #fff;
}
.header__inner{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__nav ul{
    display: flex;
    align-items: center;
    gap: 2.5rem;
}
.header__nav ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.header__nav li{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 1rem 0.5rem; */
    list-style-type: none;
}
.header .list-items a.active, .header .list-items li a:hover {
    --tw-text-opacity: 1;
    color: #ea580c;
    color: rgb(234 88 12/var(--tw-text-opacity));
}

.header .list-items li a {
    --tw-text-opacity: 1;
    color: #0f172a;
    color: rgb(15 23 42/var(--tw-text-opacity));
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 35px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    text-transform: uppercase;
}

.header .list-items li a.active:after, .header .list-items li a:hover:after {
    left: 0;
    right: auto;
    width: 100%;
}

.header .list-items li a:after {
    --tw-bg-opacity: 1;
    --tw-content: "";
    background-color: rgb(234 88 12/var(--tw-bg-opacity));
    bottom: 0;
    content: var(--tw-content);
    height: 2px;
    left: auto;
    position: absolute;
    right: 0;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(.4,0,1,1);
    width: 0;
}

/* Responsive Media Queries */
@media screen and (min-width: 299px) and (max-width: 350px) {
    .header .list-items li a {
        font-size: 9px;
        font-weight: bold;
        padding:0;
    }
    .header__nav ul {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-gap: 10px;
        padding-left: 0;
    }
  }
  @media screen and (min-width: 350px) and (max-width: 450px) {
    .header .list-items li a {
        font-size: 12px;
        padding:0;
    }
    .header__nav ul {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-gap: 10px;
        padding-left: 0;
    }
  }
  @media screen and (min-width: 450px) and (max-width: 600px) {
    .header .list-items li a {
        font-size: 15px;
        padding:0;
    }
    
    .header__nav ul {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-gap: 15px;
        padding-left: 0;
    }
  }

  @media screen and (min-width: 600px) and (max-width: 768px) {
    .header .list-items li a {
        font-size: 18px;
        padding:0;
    }
    .header__nav ul {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-gap: 2.5rem;
        padding-left: 0;
    }
  }
/* @media screen and (max-width: 768px) {


    .header__nav ul {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-gap: 3px;
        padding-left: 0;
    }

    
   
}  */


