body{
  background: #B6D8C0 !important;
  box-sizing: border-box !important;
}
.info-container{
  padding: calc(10%);
  margin-top: calc(7%);
  z-index: -1; 
  font-family: Inter, Roboto, Arial, sans-serif !important;
  display: grid;
  grid-template-columns: auto auto;
  
}


@media (min-width:300px) and (max-width:450px) {
  .info-container {
    grid-template-columns:  auto;
    margin-top: calc(30%);
  }
  .top_text p{
    font-size: 16px;
    
  }
  .center_text p{
    font-size:20px;
  }
  .bottom_text p{
    font-size:12px;
  }
}
 .text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
}
.top_text{
  font-size: 19px;
  text-transform: uppercase; 
  font-weight: bold;
  letter-spacing: 2px;
}
.center_text{
  font-size: 59px;
  font-weight: bold;
  letter-spacing: 5px; 
}

.bottom_text{
  font-size: 19px;
  text-transform: uppercase; 
  font-weight: bold;
  letter-spacing: 2px;
}
.photo img {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 300px;
  margin: auto;
  background: #fff;
  padding: 15px;
  border-style: solid;
  border-width: 15px;
  border-top-color: lighten(#000, 20%);
  border-right-color: lighten(#000, 0%);
  border-bottom-color: lighten(#000, 20%);
  border-left-color: lighten(#000, 0%);
  box-shadow: 4px 4px 8px rgba(0,0200,0,.6);
}








